
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="container">
  <div class="d-flex justify-content-between">
    <a routerLink="counter">Counter</a>
    <a routerLink="counter-slice">Counter Slice</a>
    <a routerLink="qr-code">QR Code</a>
  </div>
  <div class="d-flex justify-content-between">
    <a routerLink="outlet-dialog">Open dialog with outlet link</a>
  </div>

</div>




<router-outlet></router-outlet>
